CodeAlpha_CloudBusPass/
в”‚
в”њв”Ђв”Ђ app.js
в”њв”Ђв”Ђ package.json
в”њв”Ђв”Ђ README.md
в”‚
в”њв”Ђв”Ђ views/
в”‚   в”њв”Ђв”Ђ index.ejs
в”‚   в”њв”Ђв”Ђ register.ejs
в”‚   в”њв”Ђв”Ђ login.ejs
в”‚   в”њв”Ђв”Ђ dashboard.ejs
в”‚   в””в”Ђв”Ђ booking.ejs
в”‚
в””в”Ђв”Ђ public/
    в””в”Ђв”Ђ css/
        в””в”Ђв”Ђ style.css
<!DOCTYPE html>
<html>
<head>
<title>Book Pass</title>
</head>
<body>

<h2>Bus Pass Booking</h2>

<form method="POST">

<select name="route">
<option>Hyderabad - Vijayawada</option>
<option>Hyderabad - Warangal</option>
<option>Vijayawada - Guntur</option>
</select>

<br><br>

<select name="passType">
<option>Monthly</option>
<option>Yearly</option>
</select>

<br><br>

<button type="submit">Book Pass</button>

</form>

</body>
</html>