CodeAlpha_CloudBusPass/
в”‚
в”њв”Ђв”Ђ app.js
в”њв”Ђв”Ђ package.json
в”њв”Ђв”Ђ README.md
в”‚
в”њв”Ђв”Ђ views/
в”‚   в”њв”Ђв”Ђ index.ejs
в”‚   в”њв”Ђв”Ђ register.ejs
в”‚   в”њв”Ђв”Ђ login.ejs
в”‚   в”њв”Ђв”Ђ dashboard.ejs
в”‚   в””в”Ђв”Ђ booking.ejs
в”‚
в””в”Ђв”Ђ public/
    в””в”Ђв”Ђ css/
        в””в”Ђв”Ђ style.css
<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
</head>
<body>

<h2>Welcome to Dashboard</h2>

<a href="/booking">Book Bus Pass</a>

</body>
</html>